{
  "openapi": "3.0.3",
  "info": {
    "title": "TruGen Developer Platform API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "paths": {
    "/mcp": {
      "get": {
        "summary": "Get MCP details",
        "description": "Fetches a list of available MCP details. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "description": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "type": {
                        "type": "string",
                        "example": "sse"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}"
                      },
                      "cache_tools_list": {
                        "type": "boolean",
                        "example": true
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"I am still waiting for the information.\"}, \"on_error\": {\"message\": \"Failed to search the web for the information.\"}, \"on_start\": {\"message\": \"\"}, \"on_success\": {\"message\": \"\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "type",
                      "arguments",
                      "cache_tools_list",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create MCP",
        "description": "Create a new MCP details.",
        "operationId": "createMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 5",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/{id}": {
      "delete": {
        "summary": "Delete MCP",
        "description": "Deletes an MCP details by its ID. Requires `x-api-key` authentication.",
        "operationId": "deleteMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP deleted successfully (no content returned)"
          },
          "400": {
            "description": "Invalid MCP ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update MCP",
        "description": "Updates an existing MCP details by its ID. Requires `x-api-key` authentication.",
        "operationId": "updateMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 3 update",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "cache_tools_list": {
                      "type": "boolean"
                    },
                    "event_messages": {
                      "type": "object"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get MCP by ID",
        "description": "Fetch a single MCP details by its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getMCPById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP object successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "MCP 5"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to MCP"
                    },
                    "type": {
                      "type": "string",
                      "example": "MCP"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}]"
                    },
                    "cache_tools_list": {
                      "type": "boolean",
                      "example": true
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "cache_tools_list",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      }
    },
    "/tool": {
      "get": {
        "summary": "Get all Tool details",
        "description": "Fetches all tool details available in the system. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tool details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                      },
                      "name": {
                        "type": "string",
                        "example": "New Tool 4"
                      },
                      "description": {
                        "type": "string",
                        "example": "You are a helpful assistant to Tool"
                      },
                      "type": {
                        "type": "string",
                        "example": "tool.api"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                      },
                      "request_config": {
                        "type": "string",
                        "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "type",
                      "arguments",
                      "request_config",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Tool details",
        "description": "Creates a new tool details for use within the Trugen AI system.",
        "operationId": "createTool",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 4"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "ticker"
                        },
                        "type": {
                          "type": "string",
                          "example": "str"
                        },
                        "description": {
                          "type": "string",
                          "example": "The ticker of the stock to get the price for"
                        }
                      }
                    }
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Successfully received data."
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "example": "Waiting for stock price data..."
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Failed to retrieve stock price data"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "request_config",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 4",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool details created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tools created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      }
    },
    "/tool/{id}": {
      "delete": {
        "summary": "Delete Tool details",
        "description": "Deletes a tool details by its unique ID.",
        "operationId": "deleteToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to delete",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool details deleted successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Tool details",
        "description": "Updates an existing tool details using its unique ID.",
        "operationId": "updateToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 3 update"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "name": "ticker",
                        "type": "str",
                        "description": "The ticker of the stock to get the price for"
                      }
                    ]
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "properties": {
                          "User-Agent": {
                            "type": "string"
                          },
                          "Accept": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Successfully received data."
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "delay": 1,
                          "message": "Waiting for stock price data..."
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Failed to retrieve stock price data"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "request_config",
                  "event_messages",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 3 update",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool details updated successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Tool by ID",
        "description": "Fetches a specific tool details using its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
                    },
                    "name": {
                      "type": "string",
                      "example": "New Tool 2"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to Tool"
                    },
                    "type": {
                      "type": "string",
                      "example": "tool.api"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                    },
                    "request_config": {
                      "type": "string",
                      "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "request_config",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/template": {
      "post": {
        "summary": "Create a new Template",
        "description": "Creates a new template.",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "description": "Name of the template",
                    "example": "HR Assistant"
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "description": "System prompt text used by the template",
                    "example": "You are a helpful HR AI Assistant."
                  },
                  "config": {
                    "type": "object",
                    "description": "Settings and configuration for the template",
                    "properties": {
                      "maxCallDuration": {
                        "type": "integer",
                        "description": "Maximum allowed call duration in seconds",
                        "example": 5
                      },
                      "conversationalContext": {
                        "type": "string",
                        "description": "Context for maintaining conversation across calls",
                        "example": ""
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "description": "List of knowledge bases attached to this agent.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Knowledge base identifier.",
                          "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the knowledge base.",
                          "example": "Product Support Articles"
                        },
                        "description": {
                          "type": "string",
                          "description": "Short summary of the knowledge base content.",
                          "example": "Contains FAQs and troubleshooting guides for product lines."
                        }
                      }
                    }
                  },
                  "record": {
                    "type": "boolean",
                    "description": "Whether the call should be recorded",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique ID of the newly created template.",
                      "example": "d65a4f92-44b1-4fe6-b2ac-a1cb66366ddc"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/ext/templates": {
      "get": {
        "summary": "Retrieve all Template details",
        "description": "Fetches a list of all templates.",
        "operationId": "getAllTemplates",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the template",
                        "example": "ff152cd9-efb6-4367-ae34-917f7c735f1d"
                      },
                      "template_name": {
                        "type": "string",
                        "description": "Name of the template",
                        "example": "Default Calling Template"
                      },
                      "template_system_prompt": {
                        "type": "string",
                        "description": "System prompt text used by the template",
                        "example": "You are a helpful AI assistant."
                      },
                      "config": {
                        "type": "object",
                        "description": "Settings and configuration for the template",
                        "properties": {
                          "maxCallDuration": {
                            "type": "integer",
                            "description": "Maximum allowed call duration in seconds",
                            "example": 900
                          },
                          "conversationalContext": {
                            "type": "string",
                            "description": "Context for maintaining conversation across calls",
                            "example": ""
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "description": "List of knowledge bases attached to this agent.",
                        "nullable": true,
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Knowledge base identifier.",
                              "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the knowledge base.",
                              "example": "Product Support Articles"
                            },
                            "description": {
                              "type": "string",
                              "description": "Short summary of the knowledge base content.",
                              "example": "Contains FAQs and troubleshooting guides for product lines."
                            }
                          }
                        }
                      },
                      "record": {
                        "type": "boolean",
                        "description": "Whether the call should be recorded",
                        "example": true
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "Whether the record is be active or not",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the template was created",
                        "example": "2025-12-03T10:15:30.000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the template was last updated",
                        "example": "2025-12-03T12:00:00.000Z"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "config": {
                      "maxCallDuration": 5,
                      "conversationalContext": "The following is a conversation with a user named `Lisa`."
                    },
                    "created_at": "2025-10-16T15:09:53.876051Z",
                    "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                    "knowledge_base": null,
                    "record": true,
                    "template_name": "HR Assistant",
                    "template_system_prompt": "You are a helpful AI assistant.",
                    "updated_at": "2025-10-16T15:09:53.876051Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to create template details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/template/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the template"
        }
      ],
      "get": {
        "summary": "Retrieve a Template details by ID",
        "operationId": "getTemplateById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the template",
                      "example": "ff152cd9-efb6-4367-ae34-917f7c735f1d"
                    },
                    "template_name": {
                      "type": "string",
                      "description": "Name of the template",
                      "example": "Default Calling Template"
                    },
                    "template_system_prompt": {
                      "type": "string",
                      "description": "System prompt text used by the template",
                      "example": "You are a helpful AI assistant."
                    },
                    "config": {
                      "type": "object",
                      "description": "Settings and configuration for the template",
                      "properties": {
                        "maxCallDuration": {
                          "type": "integer",
                          "description": "Maximum allowed call duration in seconds",
                          "example": 900
                        },
                        "conversationalContext": {
                          "type": "string",
                          "description": "Context for maintaining conversation across calls",
                          "example": ""
                        }
                      }
                    },
                    "record": {
                      "type": "boolean",
                      "description": "Whether the call should be recorded",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the template was created",
                      "example": "2025-12-03T10:15:30.000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the template was last updated",
                      "example": "2025-12-03T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing Template",
        "description": "Updates the details of a specific by ID.",
        "operationId": "updateTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "description": "Name of the template",
                    "example": "Default Calling Template"
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "description": "System prompt text used by the template",
                    "example": "You are a helpful AI assistant."
                  },
                  "config": {
                    "type": "object",
                    "description": "Settings and configuration for the template",
                    "properties": {
                      "systemPrompt": {
                        "type": "string",
                        "description": "Prompt embedded inside config",
                        "example": "Assist the caller professionally."
                      },
                      "maxCallDuration": {
                        "type": "integer",
                        "description": "Maximum allowed call duration in seconds",
                        "example": 900
                      },
                      "conversationalContext": {
                        "type": "string",
                        "description": "Context for maintaining conversation across calls",
                        "example": ""
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "description": "List of knowledge bases attached to this agent.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Knowledge base identifier.",
                          "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the knowledge base.",
                          "example": "Product Support Articles"
                        },
                        "description": {
                          "type": "string",
                          "description": "Short summary of the knowledge base content.",
                          "example": "Contains FAQs and troubleshooting guides for product lines."
                        }
                      }
                    }
                  },
                  "record": {
                    "type": "boolean",
                    "description": "Whether the call should be recorded",
                    "example": true
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Whether the record should be active or not",
                    "example": true
                  }
                }
              },
              "example": {
                "template_name": "Updated Name",
                "template_system_prompt": "Updated system prompt",
                "config": {
                  "conversationalContext": "Updated conversational context",
                  "maxCallDuration": 2
                },
                "knowledge_base": null,
                "record": true,
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the updated template",
                      "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template details updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an Template",
        "operationId": "deleteTemplate",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "UUID of the deleted Template",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                  "message": "Template details deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      }
    },
    "/ext/agents": {
      "get": {
        "summary": "Retrieve all Agents",
        "description": "Fetches a list of all your agents, including associated avatars, knowledge bases, and callback settings.",
        "operationId": "getAllAgents",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the agent.",
                        "example": "b63c2a53-266b-4b43-a71b-7ea8b5e2e916"
                      },
                      "agent_name": {
                        "type": "string",
                        "description": "Display name of the agent.",
                        "example": "Customer Support Agent"
                      },
                      "agent_system_prompt": {
                        "type": "string",
                        "description": "Foundational system instruction used by this agent.",
                        "example": "You are a helpful AI assistant that handles customer service inquiries."
                      },
                      "avatars": {
                        "type": "array",
                        "description": "List of avatars associated with this agent.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avatar_key_id": {
                              "type": "string",
                              "description": "Avatar identifier key.",
                              "example": "avatar_001"
                            },
                            "persona_name": {
                              "type": "string",
                              "description": "Display name for the avatar persona.",
                              "example": "Sofia - Friendly Support"
                            },
                            "persona_prompt": {
                              "type": "string",
                              "description": "Behavioral prompt for the avatar interaction style.",
                              "example": "Speak in a warm, engaging tone and provide clear answers."
                            },
                            "config": {
                              "type": "object",
                              "description": "Configuration for avatar behavior and runtime settings.",
                              "properties": {
                                "llm": {
                                  "type": "object",
                                  "description": "Large Language Model settings used by the avatar.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Identifier of the LLM model.",
                                      "example": "meta-llama/llama-4-maverick-17b-128e-instruct"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "Provider used for LLM inference.",
                                      "example": "groq"
                                    }
                                  }
                                },
                                "stt": {
                                  "type": "object",
                                  "description": "Speech-to-Text model configuration.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Speech recognition model identifier.",
                                      "example": "flux-general-en"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "STT provider service name.",
                                      "example": "deepgram"
                                    },
                                    "min_endpointing_delay": {
                                      "type": "number",
                                      "description": "Minimum endpointing delay in seconds.",
                                      "example": 0.3
                                    },
                                    "max_endpointing_delay": {
                                      "type": "number",
                                      "description": "Maximum endpointing delay in seconds.",
                                      "example": 0.4
                                    }
                                  }
                                },
                                "tts": {
                                  "type": "object",
                                  "description": "Text-to-Speech generation configuration.",
                                  "properties": {
                                    "model_id": {
                                      "type": "string",
                                      "description": "Voice synthesis model identifier.",
                                      "example": "eleven_turbo_v2_5"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "TTS provider service name.",
                                      "example": "elevenlabs"
                                    },
                                    "voice_id": {
                                      "type": "string",
                                      "description": "Voice ID used to synthesize speech.",
                                      "example": "ZUrEGyu8GFMwnHbvLhv2"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "callback_events": {
                        "type": "array",
                        "description": "Webhook events that should trigger callbacks.",
                        "items": {
                          "type": "string",
                          "example": "utterance_committed"
                        },
                        "example": [
                          "participant_left",
                          "agent.started_speaking",
                          "agent.stopped_speaking",
                          "agent.interrupted",
                          "user.started_speaking",
                          "user.stopped_speaking",
                          "utterance_committed",
                          "max_call_duration_timeout"
                        ]
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "Webhook endpoint URL to send callback events to.",
                        "example": "https://webhooks.example.com/agent-events"
                      },
                      "config": {
                        "type": "object",
                        "description": "Agent-level configuration properties.",
                        "properties": {
                          "systemPrompt": {
                            "type": "string",
                            "description": "System prompt value stored within config.",
                            "example": "Always respond with a concise solution first, then provide optional detail."
                          },
                          "maxCallDuration": {
                            "type": "integer",
                            "description": "Maximum call duration allowed in seconds.",
                            "example": 1800
                          },
                          "conversationalContext": {
                            "type": "string",
                            "description": "Context label used to maintain continuity across sessions.",
                            "example": "customer-support"
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "description": "List of knowledge bases attached to this agent.",
                        "nullable": true,
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Knowledge base identifier.",
                              "example": "ac79226e-73e1-41fe-8cde-469ae4e244fa"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the knowledge base.",
                              "example": "Product Support Articles"
                            },
                            "description": {
                              "type": "string",
                              "description": "Short summary of the knowledge base content.",
                              "example": "Contains FAQs and troubleshooting guides for product lines."
                            }
                          }
                        }
                      },
                      "record": {
                        "type": "boolean",
                        "description": "Determines whether voice call recordings should be stored.",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp indicating when the agent was created.",
                        "example": "2025-12-01T10:20:30.000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last updated timestamp for the agent.",
                        "example": "2025-12-03T14:50:00.000Z"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "045302f0-9783-4ff2-846e-3888fb2a7894",
                    "agent_name": "HR Assistant",
                    "agent_system_prompt": "You are an HR Assistant.",
                    "avatars": [
                      {
                        "avatar_key_id": "1e4ea106",
                        "persona_name": "Lisa",
                        "config": {
                          "llm": {
                            "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
                            "provider": "groq"
                          },
                          "stt": {
                            "model": "flux-general-en",
                            "provider": "deepgram",
                            "min_endpointing_delay": 0.3,
                            "max_endpointing_delay": 0.4
                          },
                          "tts": {
                            "model_id": "eleven_turbo_v2_5",
                            "provider": "elevenlabs",
                            "voice_id": "ZUrEGyu8GFMwnHbvLhv2"
                          }
                        }
                      }
                    ],
                    "callback_events": [
                      "utterance_committed"
                    ],
                    "callback_url": "https://webhook.site/agent-events",
                    "config": {
                      "maxCallDuration": 10,
                      "conversationalContext": "You are going to speak with employees from our Machine Learning Team."
                    },
                    "knowledge_base": null,
                    "record": true,
                    "created_at": "2025-10-17T19:05:25.557061Z",
                    "updated_at": "2025-10-17T19:05:25.557061Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve agent details"
                }
              }
            }
          }
        }
      }
    },
    "/ext/agent": {
      "post": {
        "summary": "Create an agent",
        "description": "Creates a new agent with avatar IDs, knowledge bases, and additional settings",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "description": "Display name for the avatar persona.",
                    "default": "Sofia - Friendly Support"
                  },
                  "agent_system_prompt": {
                    "type": "string",
                    "description": "Behavioral prompt for the avatar interaction style.",
                    "default": "Speak in a warm, engaging tone and provide clear answers."
                  },
                  "avatars": {
                    "type": "array",
                    "description": "List of avatars associated with this agent.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "config": {
                          "type": "object",
                          "description": "Configuration for avatar behavior and runtime settings.",
                          "properties": {
                            "llm": {
                              "type": "object",
                              "description": "Large Language Model settings used by the avatar.",
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Identifier of the LLM model.",
                                  "default": "meta-llama/llama-4-maverick-17b-128e-instruct"
                                },
                                "provider": {
                                  "type": "string",
                                  "description": "Provider used for LLM inference.",
                                  "default": "groq"
                                }
                              }
                            },
                            "stt": {
                              "type": "object",
                              "description": "Speech-to-Text model configuration.",
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Speech recognition model identifier.",
                                  "default": "flux-general-en"
                                },
                                "provider": {
                                  "type": "string",
                                  "description": "STT provider service name.",
                                  "default": "deepgram"
                                },
                                "min_endpointing_delay": {
                                  "type": "number",
                                  "description": "Minimum endpointing delay in seconds.",
                                  "default": 0.3
                                },
                                "max_endpointing_delay": {
                                  "type": "number",
                                  "description": "Maximum endpointing delay in seconds.",
                                  "default": 0.4
                                }
                              }
                            },
                            "tts": {
                              "type": "object",
                              "description": "Text-to-Speech generation configuration.",
                              "properties": {
                                "model_id": {
                                  "type": "string",
                                  "description": "Voice synthesis model identifier.",
                                  "default": "eleven_turbo_v2_5"
                                },
                                "provider": {
                                  "type": "string",
                                  "description": "TTS provider service name.",
                                  "default": "elevenlabs"
                                },
                                "voice_id": {
                                  "type": "string",
                                  "description": "Voice ID used to synthesize speech.",
                                  "default": "ZUrEGyu8GFMwnHbvLhv2"
                                }
                              }
                            },
                            "turn_detector": {
                              "type": "boolean",
                              "description": "turn detector",
                              "default": true
                            }
                          }
                        },
                        "timeout": {
                          "type": "integer",
                          "description": "Maximum time to wait for the user to join the call (in seconds).",
                          "default": 240
                        },
                        "avatar_key_id": {
                          "type": "string",
                          "description": "avatar_key_id",
                          "default": "665a1170"
                        },
                        "avatar_data_source": {
                          "type": "string",
                          "description": "avatar_data_source",
                          "default": "avatar-inference-data/"
                        },
                        "frame_rate": {
                          "type": "number",
                          "description": "frame_rate",
                          "default": 25
                        },
[...]
