{
  "openapi": "3.0.3",
  "info": {
    "title": "Trugen MCP API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "paths": {
    "/mcp": {
      "get": {
        "summary": "Get MCP configurations",
        "description": "Fetches a list of available MCP configurations. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "description": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "type": {
                        "type": "string",
                        "example": "sse"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}"
                      },
                      "cache_tools_list": {
                        "type": "boolean",
                        "example": true
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"I am still waiting for the information.\"}, \"on_error\": {\"message\": \"Failed to search the web for the information.\"}, \"on_start\": {\"message\": \"\"}, \"on_success\": {\"message\": \"\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "type",
                      "arguments",
                      "cache_tools_list",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create MCP",
        "description": "Create a new MCP configuration.",
        "operationId": "createMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 5",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "MCP created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/{id}": {
      "delete": {
        "summary": "Delete MCP",
        "description": "Deletes an MCP configuration by its ID. Requires `X-API-Key` authentication.",
        "operationId": "deleteMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP deleted successfully (no content returned)"
          },
          "400": {
            "description": "Invalid MCP ID"
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "summary": "Update MCP",
        "description": "Updates an existing MCP configuration by its ID. Requires `X-API-Key` authentication.",
        "operationId": "updateMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 3 update",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "cache_tools_list": {
                      "type": "boolean"
                    },
                    "event_messages": {
                      "type": "object"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "summary": "Get MCP by ID",
        "description": "Fetch a single MCP configuration by its unique ID. Requires `X-API-Key` authentication.",
        "operationId": "getMCPById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP object successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "MCP 5"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to MCP"
                    },
                    "type": {
                      "type": "string",
                      "example": "MCP"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}]"
                    },
                    "cache_tools_list": {
                      "type": "boolean",
                      "example": true
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "cache_tools_list",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key"
          },
          "404": {
            "description": "MCP not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tool": {
      "get": {
        "summary": "Get all Tool configurations",
        "description": "Fetches all tool configurations available in the system. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tool configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                      },
                      "name": {
                        "type": "string",
                        "example": "New Tool 4"
                      },
                      "description": {
                        "type": "string",
                        "example": "You are a helpful assistant to Tool"
                      },
                      "type": {
                        "type": "string",
                        "example": "tool.api"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                      },
                      "request_config": {
                        "type": "string",
                        "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "type",
                      "arguments",
                      "request_config",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create a new Tool configuration",
        "description": "Creates a new tool configuration for use within the Trugen AI system.",
        "operationId": "createTool",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 4"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "ticker"
                        },
                        "type": {
                          "type": "string",
                          "example": "str"
                        },
                        "description": {
                          "type": "string",
                          "example": "The ticker of the stock to get the price for"
                        }
                      }
                    }
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Successfully received data."
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "example": "Waiting for stock price data..."
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Failed to retrieve stock price data"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "request_config",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 4",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tools configuration created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/tool/{id}": {
      "delete": {
        "summary": "Delete Tool Configuration",
        "description": "Deletes a tool configuration by its unique ID.",
        "operationId": "deleteToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to delete",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool configuration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool configuration deleted successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "404": {
            "description": "Tool not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "summary": "Update Tool Configuration",
        "description": "Updates an existing tool configuration using its unique ID.",
        "operationId": "updateToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 3 update"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "name": "ticker",
                        "type": "str",
                        "description": "The ticker of the stock to get the price for"
                      }
                    ]
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "properties": {
                          "User-Agent": {
                            "type": "string"
                          },
                          "Accept": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Successfully received data."
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "delay": 1,
                          "message": "Waiting for stock price data..."
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Failed to retrieve stock price data"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "request_config",
                  "event_messages",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 3 update",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool configuration updated successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "404": {
            "description": "Tool not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "Get Tool by ID",
        "description": "Fetches a specific tool configuration using its unique ID. Requires `X-API-Key` authentication.",
        "operationId": "getToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool configuration",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool configuration details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
                    },
                    "name": {
                      "type": "string",
                      "example": "New Tool 2"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to Tool"
                    },
                    "type": {
                      "type": "string",
                      "example": "tool.api"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                    },
                    "request_config": {
                      "type": "string",
                      "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "request_config",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "404": {
            "description": "Tool not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/template": {
      "get": {
        "summary": "Retrieve all Template configurations",
        "description": "Fetches a list of all template configurations stored within the Trugen AI system.",
        "operationId": "getAllTemplates",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of template configurations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "template_name": {
                        "type": "string"
                      },
                      "template_system_prompt": {
                        "type": "string"
                      },
                      "tools": {
                        "type": "object",
                        "description": "Serialized JSON object representing tools configuration.",
                        "example": {}
                      },
                      "tool": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "config": {
                        "type": "object",
                        "description": "Configuration settings for the template.",
                        "properties": {
                          "systemPrompt": {
                            "type": "string"
                          },
                          "maxCallDuration": {
                            "type": "integer"
                          },
                          "conversationalContext": {
                            "type": "string"
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "mcp": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "record": {
                        "type": "boolean"
                      },
                      "callback_url": {
                        "type": "string"
                      },
                      "callback_events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "callback_events": [
                      "max_call_duration_timeout",
                      "max_call_duration_warning"
                    ],
                    "callback_url": "",
                    "config": {
                      "systemPrompt": "dggg",
                      "maxCallDuration": 5,
                      "conversationalContext": "llklkl"
                    },
                    "created_at": "2025-10-16T15:09:53.876051Z",
                    "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                    "is_active": true,
                    "knowledge_base": null,
                    "mcp": null,
                    "record": true,
                    "template_name": "dg",
                    "template_system_prompt": "dggg",
                    "tool": null,
                    "tools": {},
                    "updated_at": "2025-10-16T15:09:53.876051Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create a new Template configuration",
        "description": "Creates a new template configuration for use within the Trugen AI system.",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "example": "new "
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "example": "prompt"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "systemPrompt": {
                        "type": "string",
                        "example": "kjkjkj"
                      },
                      "conversationalContext": {
                        "type": "string",
                        "example": "kjkjkjkj"
                      },
                      "maxCallDuration": {
                        "type": "integer",
                        "example": 2
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "15b12908-309f-4e0f-bcb0-a4e23d45169a"
                        },
                        "name": {
                          "type": "string",
                          "example": "tsrrrs"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "record": {
                    "type": "boolean",
                    "example": true
                  },
                  "callback_url": {
                    "type": "string",
                    "example": ""
                  },
                  "callback_events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  }
                },
                "required": [
                  "template_name",
                  "template_system_prompt",
                  "config",
                  "is_active"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "d65a4f92-44b1-4fe6-b2ac-a1cb66366ddc"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template configuration created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/template/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the template configuration"
        }
      ],
      "get": {
        "summary": "Retrieve a Template configuration by ID",
        "operationId": "getTemplateById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "template_name": {
                      "type": "string"
                    },
                    "template_system_prompt": {
                      "type": "string"
                    },
                    "tools": {
                      "type": "object"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "systemPrompt": {
                          "type": "string"
                        },
                        "maxCallDuration": {
                          "type": "integer"
                        },
                        "conversationalContext": {
                          "type": "string"
                        }
                      }
                    },
                    "callback_events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "callback_url": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "record": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "put": {
        "summary": "Update an existing Template configuration",
        "description": "Updates the details of a specific template configuration identified by its unique ID.",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the template configuration to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "example": "new "
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "example": "prompt"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "systemPrompt": {
                        "type": "string",
                        "example": "kjkjkj"
                      },
                      "conversationalContext": {
                        "type": "string",
                        "example": "kjkjkjkj"
                      },
                      "maxCallDuration": {
                        "type": "integer",
                        "example": 2
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "15b12908-309f-4e0f-bcb0-a4e23d45169a"
                        },
                        "name": {
                          "type": "string",
                          "example": "tsrrrs"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "record": {
                    "type": "boolean",
                    "example": true
                  },
                  "callback_url": {
                    "type": "string",
                    "example": ""
                  },
                  "callback_events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  }
                },
                "required": [
                  "template_name",
                  "template_system_prompt",
                  "config",
                  "is_active"
                ]
              },
              "example": {
                "template_name": "new ",
                "template_system_prompt": "prompt",
                "tools": {
                  "id": "15b12908-309f-4e0f-bcb0-a4e23d45169a",
                  "name": "tsrrrs"
                },
                "config": {
                  "systemPrompt": "kjkjkj",
                  "conversationalContext": "kjkjkjkj",
                  "maxCallDuration": 2
                },
                "knowledge_base": [
                  {
                    "id": "15b12908-309f-4e0f-bcb0-a4e23d45169a",
                    "name": "tsrrrs"
                  }
                ],
                "is_active": true,
                "record": true,
                "callback_url": "",
                "callback_events": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template configuration updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "404": {
            "description": "Template not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Template configuration",
        "operationId": "deleteTemplate",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template configuration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                  "message": "Template configuration deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/agent": {
      "get": {
        "summary": "Retrieve all Agent configurations",
        "description": "Fetches a list of all agent configurations stored within the Trugen AI system, including associated avatars, knowledge bases, and callback settings.",
        "operationId": "getAllAgents",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent configurations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "agent_name": {
                        "type": "string"
                      },
                      "agent_system_prompt": {
                        "type": "string"
                      },
                      "avatars": {
                        "type": "array",
                        "description": "List of avatars linked to this agent configuration.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avatar_id": {
                              "type": "string"
                            },
                            "persona_name": {
                              "type": "string"
                            },
                            "persona_prompt": {
                              "type": "string"
                            },
                            "config": {
                              "type": "object",
                              "properties": {
                                "llm": {
                                  "type": "object",
                                  "properties": {
                                    "model": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "callback_events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "callback_url": {
                        "type": "string"
                      },
                      "config": {
                        "type": "object",
                        "description": "Agent-specific configuration settings.",
                        "properties": {
                          "systemPrompt": {
                            "type": "string"
                          },
                          "maxCallDuration": {
                            "type": "integer"
                          },
                          "conversationalContext": {
                            "type": "string"
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "index": {
                              "type": "string"
                            },
                            "namespace": {
                              "type": "string"
                            }
                          }
                        },
                        "nullable": true
                      },
                      "mcp": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "tools": {
                        "type": "object",
                        "description": "Serialized JSON object representing tool configurations.",
                        "example": {}
                      },
                      "tool": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "is_public": {
                        "type": "boolean"
                      },
                      "record": {
                        "type": "boolean"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "045302f0-9783-4ff2-846e-3888fb2a7894",
                    "agent_name": "dg",
                    "agent_system_prompt": "prompt",
                    "avatars": [
                      {
                        "avatar_id": "gabby",
                        "persona_name": "dg",
                        "persona_prompt": "prompt",
                        "config": {
                          "llm": {
                            "model": "meta-llama/llama-4-maverick-17b-128e-instruct"
                          }
                        }
                      }
                    ],
                    "callback_events": [
                      "participant_left",
                      "max_call_duration_warning"
                    ],
                    "callback_url": "https://webhook.site/agent-events",
                    "config": {
                      "systemPrompt": "Agent guidance text",
                      "maxCallDuration": 10,
                      "conversationalContext": "Legal AI assistant"
                    },
                    "knowledge_base": [
                      {
                        "id": "bf5c4aeb-3b24-44b7-bb52-3fc31736b4ba",
                        "name": "Lease deed",
                        "description": "Tenant lease deed",
                        "index": "dg-y611apn.svc.aped-4627-b74a.pinecone.io",
                        "namespace": "bf5c4aeb-3b24-44b7-bb52-3fc31736b4ba"
                      }
                    ],
                    "mcp": null,
                    "tools": {},
                    "tool": null,
                    "is_active": true,
                    "is_public": true,
                    "record": true,
                    "created_at": "2025-10-17T19:05:25.557061Z",
                    "updated_at": "2025-10-17T19:05:25.557061Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create an agent configuration",
        "description": "Creates a new agent configuration with avatars, knowledge bases, tools, and MCPs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string"
                  },
                  "agent_system_prompt": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  },
                  "tools": {
                    "type": "object"
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "mcp": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tool": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "record": {
                    "type": "boolean"
                  },
                  "callback_url": {
                    "type": "string"
                  },
                  "callback_events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "is_public": {
                    "type": "boolean"
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "avatars": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "timeout": {
                          "type": "integer"
                        },
                        "avatar_id": {
                          "type": "string"
                        },
                        "avatar_data_source": {
                          "type": "string"
                        },
                        "frame_rate": {
                          "type": "integer"
                        },
                        "silence_padding": {
                          "type": "number"
                        },
                        "is_face_enhancer_enabled": {
                          "type": "boolean"
                        },
                        "persona_name": {
                          "type": "string"
                        },
                        "persona_prompt": {
                          "type": "string"
                        },
                        "conversational_context": {
                          "type": "string"
                        },
                        "interpolation_config": {
                          "type": "object",
                          "properties": {
                            "exp": {
                              "type": "integer"
                            },
                            "enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "idle_timeout": {
                          "type": "object",
                          "properties": {
                            "timeout": {
                              "type": "integer"
                            },
                            "filler_phrases": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "welcome_message": {
                          "type": "object",
                          "properties": {
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "wait_time": {
                              "type": "integer"
                            }
                          }
                        },
                        "warning_exit_message": {
                          "type": "object",
                          "properties": {
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "callout_before": {
                              "type": "integer"
                            }
                          }
                        },
                        "exit_message": {
                          "type": "object",
                          "properties": {
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "max_call_duration": {
                              "type": "integer"
                            }
                          }
                        },
                        "exit_heads_up_message": {
                          "type": "object",
                          "properties": {
                            "callout_before": {
                              "type": "integer"
                            },
                            "messages": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "is_custom": {
                          "type": "boolean"
                        },
                        "scene_analyzer_prompt": {
                          "type": "object"
                        },
                        "eye_mask_replacement": {
                          "type": "boolean"
                        },
                        "audio_features_type": {
                          "type": "string"
                        },
                        "audio_features_window_length": {
                          "type": "integer"
                        },
                        "scene_context_engine": {
                          "type": "object"
                        },
                        "config": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "agent_name",
                  "agent_system_prompt",
                  "config",
                  "avatars"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "045302f0-9783-4ff2-846e-3888fb2a7894",
                  "message": "Agent configuration created successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/agent/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the Agent configuration to delete"
        }
      ],
      "delete": {
        "summary": "Delete an Agent configuration",
        "description": "Deletes an existing Agent configuration identified by its unique ID.",
        "operationId": "deleteAgent",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent configuration deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "97e9ed09-35a7-4bfa-94ab-705fc1ad725b",
                  "message": "Agent configuration deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/provider": {
      "get": {
        "summary": "Get Providers",
        "description": "Retrieve a list of all configured providers.",
        "operationId": "getProviders",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of provider configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "568789ee-d2ed-402a-b3bf-3667370c7a22"
                      },
                      "display_name": {
                        "type": "string",
                        "example": "GPT-4.1-Mini"
                      },
                      "display_picture": {
                        "type": "string",
                        "example": "https://openai.com/images/logo.svg"
                      },
                      "provider": {
                        "type": "string",
                        "example": "openai"
                      },
                      "provider_name": {
                        "type": "string",
                        "example": "OpenAI"
                      },
                      "provider_type": {
                        "type": "string",
                        "example": "llm"
                      },
                      "model": {
                        "type": "string",
                        "example": "gpt-4.1-mini"
                      },
                      "meta_data": {
                        "type": "object",
                        "example": {}
                      },
                      "additional_fields": {
                        "type": "object",
                        "example": {}
                      },
                      "preview_url": {
                        "type": "object",
                        "properties": {
                          "String": {
                            "type": "string",
                            "example": ""
                          },
                          "Valid": {
                            "type": "boolean",
                            "example": false
                          }
                        }
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-23T15:48:43.509017Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-07-23T15:48:43.509017Z"
                      }
                    },
                    "required": [
                      "id",
                      "display_name",
                      "provider",
                      "provider_name",
                      "provider_type",
                      "model",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public/avatar/{agentId}": {
      "get": {
        "summary": "Get Public Avatar Configuration",
        "description": "Fetch a full public avatar configuration and metadata by agent ID.",
        "operationId": "getPublicAvatar",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Unique ID of the agent to retrieve",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "f23b3458-f566-40e5-b982-367600673a84"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with full avatar configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Avatar not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public/avatar/": {
      "get": {
        "summary": "Get all avatars",
        "description": "Fetch a list of avatars along with their detailed configuration and metadata.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of avatars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "98ab153f-0e50-4d3a-b2df-f4705a223513"
                      },
                      "avatar_key_id": {
                        "type": "string",
                        "example": "gabby"
                      },
                      "avatar_name": {
                        "type": "string",
                        "example": "Lisa"
                      },
                      "gender": {
                        "type": "string",
                        "example": "male"
                      },
                      "display_picture": {
                        "type": "string",
                        "example": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/4gHYSUNDX1BST0ZJTEUAAQEA"
                      },
                      "status": {
                        "type": "string",
                        "example": "Active"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-08-08T18:39:53.836583Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-08-08T18:36:27.995652Z"
                      }
                    },
                    "required": [
                      "id",
                      "avatar_key_id",
                      "avatar_name",
                      "gender",
                      "display_picture",
                      "status",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebase": {
      "post": {
        "summary": "Create Knowledge Base",
        "description": "Uploads a document or raw text to create a new Knowledge Base entry. Requires `X-API-Key` authentication.",
        "operationId": "createKnowledgeBase",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Test 10",
                    "description": "Name of the knowledge base."
                  },
                  "description": {
                    "type": "string",
                    "example": "Test desc",
                    "description": "Description of the knowledge base."
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the knowledge base is active."
                  },
                  "input": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file to upload (e.g., .pdf, .docx). Optional if text is provided."
                  },
                  "text": {
                    "type": "string",
                    "example": "sample file text",
                    "description": "Optional raw text input for the knowledge base (used if no file is uploaded)."
                  }
                },
                "required": [
                  "name",
                  "description",
                  "is_active"
                ]
              },
              "example": {
                "name": "Test 10",
                "description": "Test desc",
                "is_active": "true",
                "input": "@/C:/temp/Resume.docx",
                "text": "sample file text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge Base created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "5273e435-3cbb-4a11-9ea9-2c150ba19009"
                    },
                    "message": {
                      "type": "string",
                      "example": "Knowledge Base created successfully"
                    }
                  },
                  "required": [
                    "id",
                    "message"
                  ]
                },
                "example": {
                  "id": "5273e435-3cbb-4a11-9ea9-2c150ba19009",
                  "message": "Knowledge Base created successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file/text upload error"
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "summary": "Get all Knowledge Bases",
        "description": "Fetches a list of all available knowledge bases with their metadata and associated documents. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Knowledge Base response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                      },
                      "name": {
                        "type": "string",
                        "example": "Test 10"
                      },
                      "description": {
                        "type": "string",
                        "example": "Test desc"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "index": {
                        "type": "string",
                        "example": "dg-y611apn.svc.aped-4627-b74a.pinecone.io"
                      },
                      "namespace": {
                        "type": "string",
                        "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                      },
                      "no_of_rec": {
                        "type": "integer",
                        "example": 20
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-08T16:34:19.984033Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-08T16:34:19.984033Z"
                      },
                      "documents": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "9a2ad090-aafe-4662-8eb8-a11a404431ea"
                            },
                            "kb_id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                            },
                            "name": {
                              "type": "string",
                              "example": "Resume.docx"
                            },
                            "type": {
                              "type": "string",
                              "example": ".docx"
                            },
                            "is_active": {
                              "type": "boolean",
                              "example": true
                            },
                            "preview_url": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://trugen.s3.us-east-2.amazonaws.com/uploads/kb/ff152cd9-efb6-4367-a545-b861c9fbd3d0/Resume.docx"
                            }
                          },
                          "required": [
                            "id",
                            "kb_id",
                            "name",
                            "type",
                            "is_active",
                            "preview_url"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "is_active",
                      "index",
                      "namespace",
                      "no_of_rec",
                      "created_at",
                      "updated_at",
                      "documents"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/knowledgebase/{id}": {
      "get": {
        "summary": "Get Knowledge Base by ID",
        "description": "Retrieves a specific knowledge base and its associated documents using the provided Knowledge Base ID. Requires `X-API-Key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUID of the Knowledge Base to retrieve",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d837afdc-f95f-4e4d-abe4-40894db22a02"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Knowledge Base retrieval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "knowledge_base": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                        },
                        "name": {
                          "type": "string",
                          "example": "Test 10"
                        },
                        "description": {
                          "type": "string",
                          "example": "Test desc"
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "index": {
                          "type": "string",
                          "example": "dg-y611apn.svc.aped-4627-b74a.pinecone.io"
                        },
                        "namespace": {
                          "type": "string",
                          "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                        },
                        "no_of_rec": {
                          "type": "integer",
                          "example": 20
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-10-08T16:34:19.984033Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-10-08T16:34:19.984033Z"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "is_active",
                        "index",
                        "namespace",
                        "no_of_rec",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "9a2ad090-aafe-4662-8eb8-a11a404431ea"
                          },
                          "kb_id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "ff152cd9-efb6-4367-a545-b861c9fbd3d0"
                          },
                          "name": {
                            "type": "string",
                            "example": "Resume.docx"
                          },
                          "type": {
                            "type": "string",
                            "example": ".docx"
                          },
                          "is_active": {
                            "type": "boolean",
                            "example": true
                          },
                          "preview_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://trugen.s3.us-east-2.amazonaws.com/uploads/kb/ff152cd9-efb6-4367-a545-b861c9fbd3d0/Resume.docx"
                          }
                        },
                        "required": [
                          "id",
                          "kb_id",
                          "name",
                          "type",
                          "is_active",
                          "preview_url"
[...]
