{
  "openapi": "3.0.3",
  "info": {
    "title": "Trugen MCP API",
    "version": "1.0.0",
    "description": "OpenAPI specification for MCP endpoint"
  },
  "servers": [
    {
      "url": "https://api.trugen.ai/v1"
    }
  ],
  "paths": {
    "/mcp": {
      "get": {
        "summary": "Get MCP details",
        "description": "Fetches a list of available MCP details. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
                      },
                      "name": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "description": {
                        "type": "string",
                        "example": "Brave MCP"
                      },
                      "type": {
                        "type": "string",
                        "example": "sse"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}"
                      },
                      "cache_tools_list": {
                        "type": "boolean",
                        "example": true
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"I am still waiting for the information.\"}, \"on_error\": {\"message\": \"Failed to search the web for the information.\"}, \"on_start\": {\"message\": \"\"}, \"on_success\": {\"message\": \"\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-15T16:56:45.580326Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "type",
                      "arguments",
                      "cache_tools_list",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create MCP",
        "description": "Create a new MCP details.",
        "operationId": "createMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 5",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/{id}": {
      "delete": {
        "summary": "Delete MCP",
        "description": "Deletes an MCP details by its ID. Requires `x-api-key` authentication.",
        "operationId": "deleteMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f7b696c-ecdf-4900-addc-e7cfdbbce1c7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP deleted successfully (no content returned)"
          },
          "400": {
            "description": "Invalid MCP ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update MCP",
        "description": "Updates an existing MCP details by its ID. Requires `x-api-key` authentication.",
        "operationId": "updateMCP",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "example": "MCP"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "cache_tools_list": {
                    "type": "boolean"
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "is_active"
                ]
              },
              "example": {
                "name": "MCP 3 update",
                "description": "You are a helpful assistant to MCP",
                "type": "MCP",
                "arguments": [
                  {
                    "url": "http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse"
                  }
                ],
                "cache_tools_list": true,
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "cache_tools_list": {
                      "type": "boolean"
                    },
                    "event_messages": {
                      "type": "object"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get MCP by ID",
        "description": "Fetch a single MCP details by its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getMCPById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the MCP details",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0d585f9a-e992-42d4-bda2-9c25f2bd7eda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP object successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "dcf04568-6bf5-40cf-bd6f-d68e4cb5b216"
                    },
                    "name": {
                      "type": "string",
                      "example": "MCP 5"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to MCP"
                    },
                    "type": {
                      "type": "string",
                      "example": "MCP"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"url\": \"http://ec2-18-216-51-35.us-east-2.compute.amazonaws.com:8080/sse\"}]"
                    },
                    "cache_tools_list": {
                      "type": "boolean",
                      "example": true
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-02T17:22:10.96453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "cache_tools_list",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "MCP not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "MCP not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve mcp details"
                }
              }
            }
          }
        }
      }
    },
    "/tool": {
      "get": {
        "summary": "Get all Tool details",
        "description": "Fetches all tool details available in the system. Requires `x-api-key` authentication.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tool details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                      },
                      "name": {
                        "type": "string",
                        "example": "New Tool 4"
                      },
                      "description": {
                        "type": "string",
                        "example": "You are a helpful assistant to Tool"
                      },
                      "type": {
                        "type": "string",
                        "example": "tool.api"
                      },
                      "arguments": {
                        "type": "string",
                        "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                      },
                      "request_config": {
                        "type": "string",
                        "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                      },
                      "event_messages": {
                        "type": "string",
                        "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-10T16:35:58.776206Z"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "type",
                      "arguments",
                      "request_config",
                      "event_messages",
                      "is_active",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Tool details",
        "description": "Creates a new tool details for use within the Trugen AI system.",
        "operationId": "createTool",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 4"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "ticker"
                        },
                        "type": {
                          "type": "string",
                          "example": "str"
                        },
                        "description": {
                          "type": "string",
                          "example": "The ticker of the stock to get the price for"
                        }
                      }
                    }
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Successfully received data."
                          }
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer",
                            "example": 1
                          },
                          "message": {
                            "type": "string",
                            "example": "Waiting for stock price data..."
                          }
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Failed to retrieve stock price data"
                          }
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "request_config",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 4",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool details created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tools created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      }
    },
    "/tool/{id}": {
      "delete": {
        "summary": "Delete Tool details",
        "description": "Deletes a tool details by its unique ID.",
        "operationId": "deleteToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to delete",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool details deleted successfully"
                    }
                  },
                  "required": ["id", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Tool details",
        "description": "Updates an existing tool details using its unique ID.",
        "operationId": "updateToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Tool 3 update"
                  },
                  "description": {
                    "type": "string",
                    "example": "You are a helpful assistant to Tool"
                  },
                  "type": {
                    "type": "string",
                    "example": "tool.api"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "name": "ticker",
                        "type": "str",
                        "description": "The ticker of the stock to get the price for"
                      }
                    ]
                  },
                  "request_config": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "example": "GET"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6"
                      },
                      "headers": {
                        "type": "object",
                        "properties": {
                          "User-Agent": {
                            "type": "string"
                          },
                          "Accept": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "User-Agent": "Trugen Avatar",
                          "Accept": "application/json"
                        }
                      }
                    }
                  },
                  "event_messages": {
                    "type": "object",
                    "properties": {
                      "on_start": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Successfully received data."
                        }
                      },
                      "on_delay": {
                        "type": "object",
                        "properties": {
                          "delay": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "delay": 1,
                          "message": "Waiting for stock price data..."
                        }
                      },
                      "on_error": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "example": {
                          "message": "Failed to retrieve stock price data"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "type",
                  "arguments",
                  "request_config",
                  "event_messages",
                  "is_active"
                ]
              },
              "example": {
                "name": "New Tool 3 update",
                "description": "You are a helpful assistant to Tool",
                "type": "tool.api",
                "arguments": [
                  {
                    "name": "ticker",
                    "type": "str",
                    "description": "The ticker of the stock to get the price for"
                  }
                ],
                "request_config": {
                  "method": "GET",
                  "url": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6",
                  "headers": {
                    "User-Agent": "Trugen Avatar",
                    "Accept": "application/json"
                  }
                },
                "event_messages": {
                  "on_start": {
                    "message": "Successfully received data."
                  },
                  "on_delay": {
                    "delay": 1,
                    "message": "Waiting for stock price data..."
                  },
                  "on_error": {
                    "message": "Failed to retrieve stock price data"
                  }
                },
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "611eaabb-0884-440f-a4f1-a04b9ad8a597"
                    },
                    "message": {
                      "type": "string",
                      "example": "Tool details updated successfully"
                    }
                  },
                  "required": ["id", "message"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Tool by ID",
        "description": "Fetches a specific tool details using its unique ID. Requires `x-api-key` authentication.",
        "operationId": "getToolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The UUID of the tool",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
            }
          }
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "0ea1fa09-4681-4068-8437-84ae6907b900"
                    },
                    "name": {
                      "type": "string",
                      "example": "New Tool 2"
                    },
                    "description": {
                      "type": "string",
                      "example": "You are a helpful assistant to Tool"
                    },
                    "type": {
                      "type": "string",
                      "example": "tool.api"
                    },
                    "arguments": {
                      "type": "string",
                      "example": "[{\"name\": \"ticker\", \"type\": \"str\", \"description\": \"The ticker of the stock to get the price for\"}]"
                    },
                    "request_config": {
                      "type": "string",
                      "example": "{\"url\": \"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=5min&apikey=OIIK6KTNL0WPUJC6\", \"method\": \"GET\", \"headers\": {\"Accept\": \"application/json\", \"User-Agent\": \"Trugen Avatar\"}}"
                    },
                    "event_messages": {
                      "type": "string",
                      "example": "{\"on_delay\": {\"delay\": 1, \"message\": \"Waiting for stock price data...\"}, \"on_error\": {\"message\": \"Failed to retrieve stock price data\"}, \"on_start\": {\"message\": \"Successfully received data.\"}}"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-08-26T17:28:43.042453Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "arguments",
                    "request_config",
                    "event_messages",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tool not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve tool details"
                }
              }
            }
          }
        }
      }
    },
    "/template": {
      "get": {
        "summary": "Retrieve all Template details",
        "description": "Fetches a list of all template details stored within the Trugen AI system.",
        "operationId": "getAllTemplates",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "template_name": {
                        "type": "string"
                      },
                      "template_system_prompt": {
                        "type": "string"
                      },
                      "tools": {
                        "type": "object",
                        "description": "Serialized JSON object representing tool details.",
                        "example": {}
                      },
                      "tool": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "config": {
                        "type": "object",
                        "description": "settings for the template.",
                        "properties": {
                          "systemPrompt": {
                            "type": "string"
                          },
                          "maxCallDuration": {
                            "type": "integer"
                          },
                          "conversationalContext": {
                            "type": "string"
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "mcp": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "record": {
                        "type": "boolean"
                      },
                      "callback_url": {
                        "type": "string"
                      },
                      "callback_events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "callback_events": [
                      "max_call_duration_timeout",
                      "max_call_duration_warning"
                    ],
                    "callback_url": "",
                    "config": {
                      "systemPrompt": "dggg",
                      "maxCallDuration": 5,
                      "conversationalContext": "llklkl"
                    },
                    "created_at": "2025-10-16T15:09:53.876051Z",
                    "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                    "is_active": true,
                    "knowledge_base": null,
                    "mcp": null,
                    "record": true,
                    "template_name": "dg",
                    "template_system_prompt": "dggg",
                    "tool": null,
                    "tools": {},
                    "updated_at": "2025-10-16T15:09:53.876051Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to create template details"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Template details",
        "description": "Creates a new template details for use within the Trugen AI system.",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "example": "new "
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "example": "prompt"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "systemPrompt": {
                        "type": "string",
                        "example": "kjkjkj"
                      },
                      "conversationalContext": {
                        "type": "string",
                        "example": "kjkjkjkj"
                      },
                      "maxCallDuration": {
                        "type": "integer",
                        "example": 2
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "15b12908-309f-4e0f-bcb0-a4e23d45169a"
                        },
                        "name": {
                          "type": "string",
                          "example": "tsrrrs"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "record": {
                    "type": "boolean",
                    "example": true
                  },
                  "callback_url": {
                    "type": "string",
                    "example": ""
                  },
                  "callback_events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  }
                },
                "required": [
                  "template_name",
                  "template_system_prompt",
                  "config",
                  "is_active"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "d65a4f92-44b1-4fe6-b2ac-a1cb66366ddc"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/template/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the template"
        }
      ],
      "get": {
        "summary": "Retrieve a Template details by ID",
        "operationId": "getTemplateById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "template_name": {
                      "type": "string"
                    },
                    "template_system_prompt": {
                      "type": "string"
                    },
                    "tools": {
                      "type": "object"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "systemPrompt": {
                          "type": "string"
                        },
                        "maxCallDuration": {
                          "type": "integer"
                        },
                        "conversationalContext": {
                          "type": "string"
                        }
                      }
                    },
                    "callback_events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "callback_url": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "record": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing Template details",
        "description": "Updates the details of a specific template details identified by its unique ID.",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the template to update",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_name": {
                    "type": "string",
                    "example": "new "
                  },
                  "template_system_prompt": {
                    "type": "string",
                    "example": "prompt"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "systemPrompt": {
                        "type": "string",
                        "example": "kjkjkj"
                      },
                      "conversationalContext": {
                        "type": "string",
                        "example": "kjkjkjkj"
                      },
                      "maxCallDuration": {
                        "type": "integer",
                        "example": 2
                      }
                    }
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "15b12908-309f-4e0f-bcb0-a4e23d45169a"
                        },
                        "name": {
                          "type": "string",
                          "example": "tsrrrs"
                        }
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "record": {
                    "type": "boolean",
                    "example": true
                  },
                  "callback_url": {
                    "type": "string",
                    "example": ""
                  },
                  "callback_events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  }
                },
                "required": [
                  "template_name",
                  "template_system_prompt",
                  "config",
                  "is_active"
                ]
              },
              "example": {
                "template_name": "new ",
                "template_system_prompt": "prompt",
                "tools": {
                  "id": "15b12908-309f-4e0f-bcb0-a4e23d45169a",
                  "name": "tsrrrs"
                },
                "config": {
                  "systemPrompt": "kjkjkj",
                  "conversationalContext": "kjkjkjkj",
                  "maxCallDuration": 2
                },
                "knowledge_base": [
                  {
                    "id": "15b12908-309f-4e0f-bcb0-a4e23d45169a",
                    "name": "tsrrrs"
                  }
                ],
                "is_active": true,
                "record": true,
                "callback_url": "",
                "callback_events": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9"
                    },
                    "message": {
                      "type": "string",
                      "example": "Template details updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve template details"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Template details",
        "operationId": "deleteTemplate",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template details deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "d22e4b02-3a47-46f2-b0cd-5420f277eaf9",
                  "message": "Template details deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Template not found"
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "get": {
        "summary": "Retrieve all Agent details",
        "description": "Fetches a list of all agent details stored within the Trugen AI system, including associated avatars, knowledge bases, and callback settings.",
        "operationId": "getAllAgents",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "agent_name": {
                        "type": "string"
                      },
                      "agent_system_prompt": {
                        "type": "string"
                      },
                      "avatars": {
                        "type": "array",
                        "description": "List of avatars linked to this agent.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avatar_key_id": {
                              "type": "string"
                            },
                            "persona_name": {
                              "type": "string"
                            },
                            "persona_prompt": {
                              "type": "string"
                            },
                            "config": {
                              "type": "object",
                              "properties": {
                                "llm": {
                                  "type": "object",
                                  "properties": {
                                    "model": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "callback_events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "callback_url": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "config": {
                        "type": "object",
                        "description": "Agent-specific settings.",
                        "properties": {
                          "systemPrompt": {
                            "type": "string"
                          },
                          "maxCallDuration": {
                            "type": "integer"
                          },
                          "conversationalContext": {
                            "type": "string"
                          }
                        }
                      },
                      "knowledge_base": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "index": {
                              "type": "string"
                            },
                            "namespace": {
                              "type": "string"
                            }
                          }
                        },
                        "nullable": true
                      },
                      "mcp": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "tools": {
                        "type": "object",
                        "description": "Serialized JSON object representing tool details.",
                        "example": {}
                      },
                      "tool": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "is_public": {
                        "type": "boolean"
                      },
                      "record": {
                        "type": "boolean"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "045302f0-9783-4ff2-846e-3888fb2a7894",
                    "agent_name": "dg",
                    "agent_system_prompt": "prompt",
                    "email": "test@test.com",
                    "avatars": [
                      {
                        "avatar_key_id": "ava_ae61c9e28b",
                        "persona_name": "dg",
                        "persona_prompt": "prompt",
                        "config": {
                          "llm": {
                            "model": "meta-llama/llama-4-maverick-17b-128e-instruct"
                          }
                        }
                      }
                    ],
                    "callback_events": [
                      "participant_left",
                      "max_call_duration_warning"
                    ],
                    "callback_url": "https://webhook.site/agent-events",
                    "config": {
                      "systemPrompt": "Agent guidance text",
                      "maxCallDuration": 10,
                      "conversationalContext": "Legal AI assistant"
                    },
                    "knowledge_base": [
                      {
                        "id": "bf5c4aeb-3b24-44b7-bb52-3fc31736b4ba",
                        "name": "Lease deed",
                        "description": "Tenant lease deed",
                        "index": "dg-y611apn.svc.aped-4627-b74a.pinecone.io",
                        "namespace": "bf5c4aeb-3b24-44b7-bb52-3fc31736b4ba"
                      }
                    ],
                    "mcp": null,
                    "tools": {},
                    "tool": null,
                    "is_active": true,
                    "is_public": true,
                    "record": true,
                    "created_at": "2025-10-17T19:05:25.557061Z",
                    "updated_at": "2025-10-17T19:05:25.557061Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve agent details"
                }
              }
            }
          }
        }
      }
    },
    "/agent/api": {
      "post": {
        "summary": "Create an agent",
        "description": "Creates a new agent with avatar IDs, knowledge bases, and additional settings",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of avatar IDs to include in this agent"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the agent"
                  },
                  "email": {
                    "type": "string",
                    "description": "email of the agent"
                  },
                  "system_prompt": {
                    "type": "string",
                    "description": "System prompt text defining the agent's persona or behavior"
                  },
                  "config": {
                    "type": "object",
                    "description": "General settings for the agent",
                    "properties": {
                      "timeout": {
                        "type": "integer",
                        "example": 240
                      }
                    }
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Whether the agent is active"
                  },
                  "knowledge_base": {
                    "type": "array",
                    "description": "List of knowledge bases linked to the agent",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": ["id", "name"]
                    }
                  },
                  "record": {
                    "type": "boolean",
                    "description": "Whether to record the agent's interactions"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "URL to send event callbacks to"
                  },
                  "callback_events": {
                    "type": "array",
                    "description": "List of event names for which callbacks will be sent",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "avatar_ids",
                  "name",
                  "system_prompt",
                  "config",
                  "email"
                ]
              },
              "example": {
                "avatar_ids": ["ava_ae61c9e28b", "ava_ed3a666dc5"],
                "name": "New Agent",
                "system_prompt": "You are a helpful assistant",
                "email": "test@test.com",
                "config": {
                  "timeout": 240
                },
                "is_active": true,
                "knowledge_base": [
                  {
                    "id": "4a0365e4-ced5-42f0-8933-b6880a0ce044",
                    "name": "new kb 123"
                  }
                ],
                "record": true,
                "callback_url": "https://play.svix.com/in/e_pBuXcpDaVzRzwn3L5El4xFFlKnD/",
                "callback_events": [
                  "participant_left",
                  "max_call_duration_warning",
                  "max_call_duration_timeout",
                  "action_found"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "045302f0-9783-4ff2-846e-3888fb2a7894",
                  "message": "Agent created successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Invalid request body"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Error creating agent"
                }
              }
            }
          }
        }
      }
    },
    "/agent/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier for the Agent"
        }
      ],
      "get": {
        "summary": "Retrieve an Agent by ID",
        "operationId": "getAgentById",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string"
                    },
                    "agent_name": {
                      "type": "string"
                    },
                    "agent_system_prompt": {
                      "type": "string"
                    },
                    "avatars": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "knowledge_base": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "tool": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "tools": {
                      "type": "object"
                    },
                    "mcp": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "nullable": true
                    },
                    "config": {
                      "type": "object"
                    },
                    "callback_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "callback_events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "record": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: not a valid authorization api key"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Agent details not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Failed to retrieve agent"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing Agent",
        "description": "Updates an Agent with new avatar, tool, knowledge base, or system settings.",
        "operationId": "updateAgent",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string"
                  },
                  "agent_system_prompt": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  },
                  "tools": {
                    "type": "object"
                  },
                  "email": {
                    "type": "string"
                  },
                  "knowledge_base": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "mcp": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "tool": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "record": {
                    "type": "boolean"
                  },
                  "callback_url": {
                    "type": "string"
                  },
                  "callback_events": {
                    "type": "array",
[...]
